<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"2.71rem","bottom":"2.71rem"}},"dimensions":{"minHeight":"60vh"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="min-height:60vh;padding-top:2.71rem;padding-bottom:2.71rem"><!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0"><!-- wp:post-title /--></div>
<!-- /wp:group -->

<!-- wp:post-content {"align":"full"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->