<!-- wp:template-part {"slug":"websites-greeni-header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"dimensions":{"minHeight":"70vh"}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="min-height:70vh"><!-- wp:group {"style":{"spacing":{"padding":{"top":"72px"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group" style="padding-top:72px"><!-- wp:post-title {"level":1,"align":"wide","style":{"color":{"text":"#115a0b"},"elements":{"link":{"color":{"text":"#115a0b"}}},"typography":{"fontSize":"4rem"}},"fontFamily":"young-serif-regular"} /-->
    
    <!-- wp:post-content {"align":"full","style":{"dimensions":{"minHeight":"60vh"}},"className":"greeni-design-container","layout":{"type":"constrained","contentSize":"1200px"}} /--></div>
    <!-- /wp:group --></main>
    <!-- /wp:group -->

<!-- wp:template-part {"slug":"websites-greeni-footer","tagName":"footer"} /-->